header{
    height:100px;
}

body{
    padding-top:15px;
    background:#eaeaea;
}

.body-content{ padding-top:20px; }

h2{
    padding-left:60px;
    min-height:30px;
    background:url("~/Content/Images/foin.png");
}

.logo {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    background-image: url(/Content/images/logo.png);
    background-position: left center;
    background-repeat: no-repeat;
    height:90px;
}
.logo p{
    padding-top:55px;
    height:15px;
    font-size:15px;
    line-height:15px;
    margin-left:350px;
}

.navbar{ border-radius:0;margin-bottom:0;padding-bottom:0; min-height:42px !important;}
.navbar-nav > li > a, .navbar-brand {
    padding-top:12px !important; 
    padding-bottom:0 !important;
    height: 42px;
}
.navbar-bottom{ height:40px;width:100%;}

.social-icon {
    opacity: .6;
}
.social-icon:hover {
    color: cornflowerblue;
    opacity: 1;
}

.hand {
    cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.fixedWidth {
    display: inline-block;
    width: 130px;
}
