.jumbotron {
    margin-bottom: 0px;
    background-image: url(/Content/images/12590_8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height:275px;
}
.jumbotron h1{
    text-shadow: black 0.3em 0.3em 0.3em;
}

body{
}

.social-icon {
    opacity: .6;
}
.social-icon:hover {
    color: cornflowerblue;
    opacity: 1;
}

.hand {
    cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.fixedWidth {
    display: inline-block;
    width: 130px;
}