header{
    min-height:100px;
}

body{
    padding-top:10px;
    background:#eaeaea;
}

.body-content{ padding-top:20px; }

#header-flags > a.flag{
    margin-left:3px;
    margin-right:3px;
    padding:0;
    border:0;
}

h2{
    padding-left:60px;
    min-height:30px;
    background:url("/Content/Images/foin.png") center left no-repeat;
}

.logo {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    background-image: url(/Content/images/logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    height:100px;
}
header p{
    height:15px;
    font-size:15px;
    line-height:15px;
    text-align:right;
}
@media (min-width: 768px ) {
    header p{
        margin-top:72px;
        letter-spacing:1px;
    }
}

.social-icon {
    opacity: .6;
}
.social-icon:hover {
    color: cornflowerblue;
    opacity: 1;
}

.hand {
    cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.fixedWidth {
    display: inline-block;
    width: 130px;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
    background:#2e2e2e;
    padding: 0;
    font-size:17px;
}
@media (min-width: 768px) {
    .navbar .nav {
        margin: 0;
        display: table;
        width: 100%;
    }

    .navbar .nav li {
        width: 15%;
    }

    .navbar .nav li a {
        text-align: center;
    }

    .navbar .nav li a .fa {
        display:block;
    }
}

.navbar{ border-radius:0;margin-bottom:0;padding-bottom:0; min-height:50px !important;}
.navbar-nav > li > a, .navbar-brand {
    padding-top:12px !important; 
    padding-bottom:0 !important;
    height: 50px;
}

.navbar-inverse .navbar-nav > li > a{
    border-bottom:2px solid #2e2e2e;
}

.navbar-inverse .navbar-nav > li.reservation > a:hover, .navbar-inverse .navbar-nav > li.reservation > a:focus{
    border-bottom:2px solid #0391ce;
}
.navbar-inverse .navbar-nav > li.activites > a:hover, .navbar-inverse .navbar-nav > li.activites > a:focus{
    border-bottom:2px solid #938781;
}
.navbar-inverse .navbar-nav > li.contact > a:hover, .navbar-inverse .navbar-nav > li.contact > a:focus{
    border-bottom:2px solid #66b032;
}
.navbar-inverse .navbar-nav > li.decouvrir > a:hover, .navbar-inverse .navbar-nav > li.decouvrir > a:focus{
    border-bottom:2px solid #a7194b;
}
.navbar-inverse .navbar-nav > li.souvenirs > a:hover, .navbar-inverse .navbar-nav > li.souvenirs > a:focus{
    border-bottom:2px solid #8C0092;
}
.navbar-inverse .navbar-nav > li.accueil > a:hover, .navbar-inverse .navbar-nav > li.accueil > a:focus{
    border-bottom:2px solid #b74506;
}

button.navbar-toggle{ height:35px !important; margin-top:6px;margin-left:10px; }
.navbar-bottom{ height:32px;width:100%;}

.body-content li{
	margin-bottom:5px;
}
.boty-content ul{
	margin-left:20px;
}
	