body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.field-validation-error {
    color: #b94a48;
    display: inline-block;
    *display: inline;
    padding-left: 5px;
    vertical-align: middle;
    *zoom: 1;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    color: #b94a48;
    border-color: #b94a48;
}

.input-validation-error:focus {
  border-color: #953b39;
  -webkit-box-shadow: 0 0 6px #d59392;
  -moz-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #d59392;
}

.validation-summary-errors {
    /*font-weight: bold;*/
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* Diaporama */
.diaporama{
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    width:100%;
    padding:3px;
}
.diaporama a{ display:inline-block; }
.diaporama a img{
    width: 100% !important;
    height: auto !important;
}
.diaporama a img:hover{
    opacity: 0.8;
    background:#000;
}
.diaporama a.small {
    width:24%;
    display:inline-block;
}
.diaporama a.small:first-of-type {
    margin-left:2%;
}
.diaporama a.main-thumb{
    display:block;
    margin-bottom:5px;
}
.diaporama a.main-thumb img {
    width:100%;
}
.diaporama a.hidden{
    display:none;
}