
@{
    ViewBag.Title = "Activités aux alentours";
    ViewBag.Color = "#938781";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Activités aux alentours</h2>

<p>Notre gîte offre à proximité une série d'activités de tout genre (sportives, culturelles, gastronomiques, folkloriques, ...) et convenant à tout public. En voici quelques exemples :</p>

<h3>1. Activités sportives</h3>
<div class="row">
    <div class="col-sm-6">
        <ul>
            <li>Canyonning</li>
            <li>Escalade</li>
            <li>Spéléologie</li>
            <li>Canoë-kayak dans les gorges de l'Ardèche</li>
            <li>Randonnée (nombreux chemins de GR à proximité)</li>
            <li>Baignade en rivière</li>
            <li>Pistes de ski à proximité en hiver</li>
            <li>...</li>
        </ul>
    </div>
    <div class="col-sm-6">
        <!-- Photos here -->
        <a href="~/Content/Images/activites/kayak.jpg"><img src="~/Content/Images/activites/kayak-small.jpg" class="img-thumbnail" alt="Kayak dans les gorges de l'Ardèche" /></a>
    </div>
</div>

<h3>2. Activités culturelles</h3>
<div class="row">
    <div class="col-sm-6">
        <ul>
            <li>Château de Ventadour (visible depuis le gîte)</li>
            <li><a href="http://www.cavernedupontdarc.fr/" target="_blank">La grotte Chauvet, "La caverne du Pont d'Arc"</a></li>
            <li><a href="http://www.ecomuseechirols.fr/" target="_blank">&Eacute;comusée du moulinage</a></li>
            <li>...</li>
        </ul>
    </div>
    <div class="col-sm-6">
        <!-- Photos here -->
        <a href="~/Content/Images/activites/chateau-ventadour.jpg"><img src="~/Content/Images/activites/chateau-ventadour-small.jpg" class="img-thumbnail" alt="Le château de Ventadour" /></a>
    </div>
</div>

<h3>3. Villages de caractère</h3>
<div class="row">
    <div class="col-sm-6">
        <ul>
            <li><strong>Labeaume</strong>, et son labyrinthe de calades</li>
            <li><strong>Antraigues</strong>, pays de Jean Ferrat</li>
            <li><strong>Jaujac</strong>, et ses falaises basaltiques</li>
            <li><strong>Meyras</strong>, promenade des fresques</li>
            <li><strong>Thueyts</strong>, et son pont du diable</li>
            <li><strong>Balazuc</strong>, aux allures sarrasines</li>
            <li><strong>Banne</strong>, ambiance cévennole</li>
            <li>...</li>
        </ul>
    </div>
    <div class="col-sm-6">
        <!-- Photos here -->
        <a href="~/Content/Images/activites/village-labeaume.jpg"><img src="~/Content/Images/activites/village-labeaume-small.jpg" class="img-thumbnail" alt="Le village de Labeaume" /></a>
    </div>
</div>

<hr />

<p>Vous pouvez aussi profiter du folklore à travers les nombreux marchés de la région ainsi que les fêtes telles que les castagnades, les fêtes de la myrtille, etc...</p>