
@{
    ViewBag.Title = "Description";
    ViewBag.Color = "#a7194b";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2>Description du Gîte</h2>
	<div class="row">
		<div class="col-md-8">
			<ul>
				<li>Gîte de plus de 90 m² (6 pers.) sur 2 niveaux avec jardin et 2 terrasses.</li>
				<li>1er niveau : séjour, salon, poêle à granulés, cuisine équipée, salle d’eau (avec douche), WC, 1 chambre d’un lit de 2 personnes et un lit bébé.</li>
				<li>2ème niveau : 1 chambre avec un lit de 2personnes, 1 chambre avec 2 lits d’une personne.</li>
				<li>Equipements : lave-linge, lave-vaisselle, tv, micro-onde, frigo, congélateur, poêle à granulés, fer et planche à repasser , équipement pour bébé(chaise, lit, baignoire et coussin à langer),meubles de jardin sur 2 terrasses, barbecue, Wifi</li>
				<li>Parking</li>
				<li>Animaux acceptés</li>
				<li>Option ménage</li>
			</ul>
		</div>
		<div class="col-md-4">
			<img src="./Accueil - La Fenière_files/12590_8.jpg" class="img-thumbnail" alt="Chirols">
		</div>
	</div>
	<div class="row">
		<h2>Situation géographique</h2>
		<ul>
			<li>Dans le Parc des monts d’Ardèche</li>
			<li>Village de Chirols , hameau de Veyrières</li>
			<li>Altitude 470m</li>
            <li>À 15km d’Aubenas et 10 km de Vals les Bains</li>
            <li>À environ 10 km de 3 villages de caractère : Meyras, Jaujac et Thueyts</li>
            <li>À 1 heure des Gorges de l’Ardèche et de la remarquable Caverne du Pont d’Arc</li>
		</ul>
	</div>
</div>
