@{
    ViewBag.Title = "Description";
    ViewBag.Color = "#a7194b";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyAryigEx00jY2NBuMhWeeuWWh3ORpK1akM" async defer></script>
<script type="text/javascript">
    function initMap() {
        var gitePosition = { lat: 44.690441, lng: 4.281118 };
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
            scrollwheel: false,
            center: gitePosition,
            mapTypeId: google.maps.MapTypeId.HYBRID,
            zoom: 7
        });

        var infowindow = new google.maps.InfoWindow({
            content: "<h4>Mas des Genettes</h4>Hameau de Veyrières<br />07380 Chirols<br />France"
        });

        var marker = new google.maps.Marker({
            position: gitePosition,
            map: map,
            title: 'Gîte Mas des Genettes'
        });
        marker.addListener('click', function () {
            window.location = "/home/contact#plan";
        });
    }
</script>

<div class="row" style="min-height:400px;">
    <div class="col-sm-7">
        <h2>Description du Gîte</h2>
        <ul>
            <li>Gîte mitoyen de plus de 90 m² (6 pers.) sur 2 niveaux avec jardin et 2 terrasses.</li>
            <li>1er niveau : séjour, salon, poêle à granulés, cuisine équipée, salle d’eau (avec douche), WC, 1 chambre d’un lit de 2 personnes et un lit bébé.</li>
            <li>2ème niveau : 1 chambre avec un lit de 2personnes, 1 chambre avec 2 lits d’une personne.</li>
            <li>Equipements : lave-linge, lave-vaisselle, tv, micro-onde, frigo, congélateur, poêle à granulés, fer et planche à repasser , équipement pour bébé(chaise, lit, baignoire et coussin à langer),meubles de jardin sur 2 terrasses, barbecue, relaxs</li>
            <li>Parking</li>
            <li>Animaux acceptés</li>
            <li>Option ménage</li>
        </ul>
        <h2>Situation géographique</h2>
        <ul>
            <li>Dans le Parc régional des monts d’Ardèche</li>
            <li>Village de Chirols , hameau de Veyrières</li>
            <li>Altitude 470m</li>
            <li>À 15km d’Aubenas et 10 km de Vals les Bains</li>
            <li>À environ 10 km de 3 villages de caractère : Meyras, Jaujac et Thueyts</li>
            <li>À 1 heure des Gorges de l’Ardèche et de la remarquable Caverne du Pont d’Arc</li>
        </ul>
    </div>
    <div class="col-sm-5">
        <div class="diaporama">
            <div class="diapo-images">
                <a href="~/Content/Images/gite/18.JPG" class="main-thumb">
                    <img src="~/Content/Images/gite/18.JPG" alt="Terasse exposée Sud-Ouest, avec relaxs et BBQ" />
                </a>
                <a href="~/Content/Images/gite/20.JPG" class="hidden">
                    <img src="~/Content/Images/gite/20.JPG" alt="Arrivée terasse Nord-Est et parking" />
                </a>
                <a href="~/Content/Images/gite/21.JPG" class="hidden">
                    <img src="~/Content/Images/gite/23.JPG" alt="Parking du gîte" />
                </a>
                <a href="~/Content/Images/gite/22.JPG" class="hidden">
                    <img src="~/Content/Images/gite/23.JPG" alt="Le mas des genettes est baptisé"/>
                </a>
                <a href="~/Content/Images/gite/19.JPG" class="hidden">
                    <img src="~/Content/Images/gite/19.JPG" alt="Arrivée terasse Sud-Ouest" />
                </a>
                <a href="~/Content/Images/gite/8.JPG" class="small">
                    <img src="~/Content/Images/gite/8.JPG" alt="Coin salon au rez-de-chaussée" />
                </a>
                <a href="~/Content/Images/gite/9.JPG" class="hidden">
                    <img src="~/Content/Images/gite/9.JPG" alt="Coin salon et salle à manger" />
                </a>
                <a href="~/Content/Images/gite/10.JPG" class="hidden">
                    <img src="~/Content/Images/gite/10.JPG" alt="Vue du salon vers chambre et salle d'eau" />
                </a>
                <a href="~/Content/Images/gite/11.JPG" class="hidden">
                    <img src="~/Content/Images/gite/11.JPG" alt="Cuisine au rez-de-chaussée" />
                </a>
                <a href="~/Content/Images/gite/15.JPG" class="hidden">
                    <img src="~/Content/Images/gite/15.JPG" alt="Chambre d'un lit 2 personne au rez-de-chaussée" />
                </a>
                <a href="~/Content/Images/gite/16.JPG" class="hidden">
                    <img src="~/Content/Images/gite/16.JPG" alt="Lit pour enfant dans la chambre du rez-de-chaussée" />
                </a>
                <a href="~/Content/Images/gite/17.JPG" class="hidden">
                    <img src="~/Content/Images/gite/17.JPG" alt="Couloir vers toilettes et chambre au rez-de-chaussée"/>
                </a>
                <a href="~/Content/Images/gite/23.JPG" class="hidden">
                    <img src="~/Content/Images/gite/23.JPG" alt="Poêle à granulés, installé en 2016" />
                </a>
                <a href="~/Content/Images/gite/12.JPG" class="hidden">
                    <img src="~/Content/Images/gite/12.JPG" alt="Salle d'eau au rez-de-chaussée, WC séparés" />
                </a>
                <a href="~/Content/Images/gite/13.JPG" class="hidden">
                    <img src="~/Content/Images/gite/13.JPG" alt="Douche" />
                </a>
                <a href="~/Content/Images/gite/14.JPG" class="hidden">
                    <img src="~/Content/Images/gite/14.JPG" alt="Salle d'eau" />
                </a>

                <a href="~/Content/Images/gite/3.JPG" class="hidden">
                    <img src="~/Content/Images/gite/3.JPG" alt="Chambre d'un lit 2 personnes à l'étage" />
                </a>
                <a href="~/Content/Images/gite/1.JPG" class="small">
                    <img src="~/Content/Images/gite/1.JPG" alt="Chambre de 2 lits une personne à l'étage" />
                </a>
                <a href="~/Content/Images/gite/2.JPG" class="small">
                    <img src="~/Content/Images/gite/2.JPG" alt="Vue de la chambre de 2 lits" />
                </a>
                <a href="~/Content/Images/gite/5.JPG" class="small">
                    <img src="~/Content/Images/gite/5.JPG" alt="Vue de la chambre d'un lit 2 personnes" />
                </a>
            </div>
            <em>Cliquez pour voir en diaporama (<strong>20 photos</strong>)</em>
        </div>
    </div>
</div>
<div class="row">
    <div>
        <h2>Nous trouver</h2>
        <div id="map" style="width:100%;height:300px;"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".diapo-images").lightGallery();
    });
</script>