@{
    ViewBag.Title = "Description";
    ViewBag.Color = "#a7194b";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyAryigEx00jY2NBuMhWeeuWWh3ORpK1akM" async defer></script>
<script type="text/javascript">
    function initMap() {
        var gitePosition = { lat: 44.690441, lng: 4.281118 };
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
            scrollwheel: false,
            center: gitePosition,
            mapTypeId: google.maps.MapTypeId.HYBRID,
            zoom: 7
        });

        var infowindow = new google.maps.InfoWindow({
            content: "<h4>Mas des Genettes</h4>Hameau de Veyrières<br />07380 Chirols<br />France"
        });

        var marker = new google.maps.Marker({
            position: gitePosition,
            map: map,
            title: 'Gîte Mas des Genettes'
        });
        marker.addListener('click', function () {
            window.location = "/home/contact#plan";
        });
    }
</script>

<div class="row" style="min-height:400px;">
    <div class="col-sm-7">
        <h2>Description du Gîte</h2>
        <ul>
            <li>Gîte mitoyen de plus de 90 m² (6 pers.) sur 2 niveaux avec jardin et 2 terrasses.</li>
            <li>1er niveau : séjour, salon, poêle à granulés, cuisine équipée, salle d’eau (avec douche), WC, 1 chambre d’un lit de 2 personnes et un lit bébé.</li>
            <li>2ème niveau : 1 chambre avec un lit de 2personnes, 1 chambre avec 2 lits d’une personne.</li>
            <li>Equipements : lave-linge, lave-vaisselle, tv, micro-onde, frigo, congélateur, poêle à granulés, fer et planche à repasser , équipement pour bébé(chaise, lit, baignoire et coussin à langer),meubles de jardin sur 2 terrasses, barbecue, relaxs</li>
            <li>Parking</li>
            <li>Animaux acceptés</li>
            <li>Option ménage</li>
        </ul>
        <h2>Situation géographique</h2>
        <ul>
            <li>Dans le Parc régional des monts d’Ardèche</li>
            <li>Village de Chirols , hameau de Veyrières</li>
            <li>Altitude 470m</li>
            <li>À 15km d’Aubenas et 10 km de Vals les Bains</li>
            <li>À environ 10 km de 3 villages de caractère : Meyras, Jaujac et Thueyts</li>
            <li>À 1 heure des Gorges de l’Ardèche et de la remarquable Caverne du Pont d’Arc</li>
        </ul>
    </div>
    <div class="col-sm-5">
        <ul class="diaporama">
            <li>
                <img src="~/Content/Images/gite/1.JPG" alt="Image 1" />
                <p>Chambre de 2 lits une personne à l'étage</p>
            </li>
            <li>
                <img src="~/Content/Images/gite/2.JPG" alt="Image 2" />
                <p>Vue de la chambre de 2 lits</p>
            </li>
            <li>
                <img src="~/Content/Images/gite/3.JPG" alt="Image 3" />
                <p>Chambre d'un lit 2 personnes à l'étage</p>
            </li>
            <li>
                <img src="~/Content/Images/gite/5.JPG" alt="Image 5" />
                <p>Vue de la chambre d'un lit 2 personnes</p>
            </li>
            <li>
                <img src="~/Content/Images/gite/6.JPG" alt="Image 6" />
                <p>Terasse exposée Nord-Est : idéale pour petit-déjeuner</p>
            </li>
            <li>
                <img src="~/Content/Images/gite/8.JPG" alt="Image 8" />
                <p>Coin salon au rez-de-chaussée</p>
            </li>
            <li>
                <img src="~/Content/Images/gite/9.JPG" alt="Image 9" />
                <p>Coin salon et salle à manger</p>
            </li>
            <li>
                <img src="~/Content/Images/gite/10.JPG" alt="Image 10" />
                <p>Vue du salon vers chambre et salle d'eau</p>
            </li>
            <li>
                <img src="~/Content/Images/gite/11.JPG" alt="Image 11" />
                <p>Cuisine au rez-de-chaussée</p>
            </li>
            <li>
                <img src="~/Content/Images/gite/12.JPG" alt="Image 12" />
                <p>Salle d'eau au rez-de-chaussée, WC séparés</p>
            </li>
            <li>
                <img src="~/Content/Images/gite/13.JPG" alt="Image 13" />
                <p>Douche</p>
            </li>
            <li>
                <img src="~/Content/Images/gite/14.JPG" alt="Image 14" />
                <p>Salle d'eau</p>
            </li>
            <li>
                <img src="~/Content/Images/gite/15.JPG" alt="Image 15" />
                <p>Chambre d'un lit 2 personne au rez-de-chaussée</p>
            </li>
            <li>
                <img src="~/Content/Images/gite/16.JPG" alt="Image 16" />
                <p>Lit pour enfant dans la chambre du rez-de-chaussée</p>
            </li>
            <li>
                <img src="~/Content/Images/gite/17.JPG" alt="Image 17" />
                <p>Couloir vers toilettes et chambre au rez-de-chaussée</p>
            </li>
            <li>
                <img src="~/Content/Images/gite/18.JPG" alt="Image 18" />
                <p>Terasse exposée Sud-Ouest, avec relaxs et BBQ</p>
            </li>
            <li>
                <img src="~/Content/Images/gite/19.JPG" alt="Image 19" />
                <p>Arrivée terasse Sud-Ouest</p>
            </li>
            <li>
                <img src="~/Content/Images/gite/20.JPG" alt="Image 20" />
                <p>Arrivée terasse Nord-Est et parking</p>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div>
        <h2>Nous trouver</h2>
        <div id="map" style="width:100%;height:300px;"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $(".diaporama").diaporama({
            delay: 5
        });

    });
</script>
<style type="text/css">
    .diaporama img{
        max-width:400px;
        max-height:400px;
    }

    .diaporama li{
	    list-style-type:none;
	    overflow:hidden;
	    position:absolute;
    }

    .diaporama_controls{
	    width:512px;
	    margin:2px 0 2px 40px;
	    padding:5px;
	    clear:both;
	    overflow:hidden;
        display:block;
    }

    .diaporama_controls a{
	    font-weight:normal;
	    width:10px;
	    height:13px;
	    text-indent:-9999px;
	    display:inline-block;
	    margin:0 3px;
    }

    .diaporama_controls .prev{
	    background:url(/Content/Images/fleches_diapo.png) no-repeat top right;
    }

    .diaporama_controls .next{
	    background:url(/Content/Images/fleches_diapo.png) no-repeat top left;
    }

    .diaporama_controls .pause{
	    background:url(/Content/Images/fleches_diapo.png) no-repeat bottom right;
    }

    .diaporama_controls .play{
	    background:url(/Content/Images/fleches_diapo.png) no-repeat bottom left;
    }
</style>