@{
    ViewBag.Title = "Accueil";
    ViewBag.Color = "#b74506";
}

<div class="row">
    <div class="text-center">
        <img src="~/Content/Images/0801.jpg" class="img-thumbnail" alt="Chirols">
    </div>
    <h2>Bienvenue au Mas des Genettes</h2>
	<p>Nous avons le plaisir de vous accueillir à Veyrières, petit hameau du village de Chirols accroché à la montagne dominant la vallée de la Fontaulière (affluent de l’Ardèche).</p>
	<p>Ce lieu a gardé le cachet des hameaux d’autrefois, environnement calme et authentique au milieu des châtaigniers. </p>
	<p>Ce gîte en pierre conçu pour 6 personnes, est aménagé sur 2 niveaux et possède notamment 3 chambres et 2 terrasses.</p>
</div>