@{
    ViewBag.Title = "Souvenirs";
    ViewBag.Color = "#8C0092";
}

<h2>Souvenirs</h2>

<p class="well">
    Être propriétaire d'un gîte est une véritable aventure au cours de laquelle nous rencontrons des locataires exceptionnels. Pour les remercier de nous aider à réaliser ce rêve, nous leur proposons de se prendre en photo Au Mas des Genettes et de nous donner leur impression à la suite de leur séjour. En voici le résultat.
</p>
<hr />
<div class="row">
    <div class="col-md-6">
        <h4>Nos premiers locataires: la famille Dosmann</h4>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <img src="~/Content/Images/familles/Famille_Dosmann.jpg" style="width:100%;height:auto;" class="img-thumbnail" alt="Famille Dosmann" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h4>La famille Steyer</h4>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <img src="~/Content/Images/familles/Famille_Steyer.jpg" style="width:100%;height:auto;" class="img-thumbnail" alt="Famille Dosmann" />
            </div>
        </div>
        <p>
            Voilà déjà 7 jours que nous sommes rentrés en Belgique et nos esprits sont encore toujours un peu en Ardèche, dans les souvenirs merveilleux de nos deux semaines passées dans votre gîte, à la découverte de cette région magnifique!<br />
            Nous avons vécu un moment de paradis sur terre... La beauté des paysages, le calme et la sérénité de la nature, l'aspect grandiose découvert au détours des balades, le repos bien mérité après une fin d'année très chargée, le chant de la rivière,.... bref, tout était mis en place pour vivre Le Bonheur en famille.La famille Steyer
        </p>
    </div>
</div>