@{
    ViewBag.Title = "Tarifs et réservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tarifs et réservations</h2>

<div class="calendar">
    <div class="text-center" id="year">2016</div>
    <div class="text-center" id="month">Mai</div>
    <div class="row text-center" id="weeks">
        <div class="week">
            <span class="period">01/05/2016 -> 07/05/2016</span>
            <span class="status">Réservé</span>
        </div>
        <div class="week">
            <span class="period">08/05/2016 -> 14/05/2016</span>
            <span class="status">Réservé</span>
        </div>
        <div class="week">
            <span class="period">15/05/2016 -> 21/05/2016</span>
            <span class="status">Réservé</span>
        </div>
        <div class="week">
            <span class="period">22/05/2016 -> 28/05/2016</span>
            <span class="status">@Html.ActionLink("400€", "checkin", "reservation", new { week = 28 }, null)</span>
        </div>
    </div>
</div>