@{
    ViewBag.Title = "Tarifs et réservations";
    ViewBag.Color = "#0391ce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tarifs et réservations</h2>

<div class="calendar">
    <div class="row">
        <div class="well">
            <h3 class="text-center noselect"><span class="hand" id="year-prev">&lt;</span>&nbsp;&nbsp;<span class="fixedWidth" id="year"></span>&nbsp;&nbsp;<span class="hand" id="year-next">&gt;</span></h3>
            <h4 class="text-center noselect"><span class="hand" id="month-prev">&lt;</span>&nbsp;&nbsp;<span class="fixedWidth" id="month">Mai</span>&nbsp;&nbsp;<span class="hand" id="month-next">&gt;</span></h4>
        </div>
    </div>
    <div class="row text-center" id="weeksOfMonth">

    </div>
</div>

<script type="text/javascript">
    var months = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'];
    var currentMonth = new Date().getMonth();
    var currentYear = new Date().getFullYear();

    function updateUi() {
        $("#year").html(currentYear);
        $("#month").html(months[currentMonth]);

        refreshWeeks();
        return false;
    }

    function refreshWeeks() {
        $("#weeksOfMonth").load('/Reservation/ListWeekForMonth?year=' + currentYear + '&month=' + (currentMonth + 1));
    }

    function updateYear(val) {
        currentYear += val;
        updateUi();
    }

    function updateMonth(val) {
        currentMonth += val;
        if (currentMonth === 12) {
            currentMonth = 0;
            currentYear += 1;
        }
        if (currentMonth < 0) {
            currentMonth = 11;
            currentYear -= 1;
        }

        updateUi();
    }

    $(document).ready(function () {
        updateUi();

        $("#month-prev").click(function (){ updateMonth(-1); });
        $("#month-next").click(function () { updateMonth(1); });

        $("#year-prev").click(function () { updateYear(-1); });
        $("#year-next").click(function () { updateYear(1); });
    });
</script>