@model List<Gite.WebSite.Models.Date>

@{
    string baseClass = "col-md-15";

    if (Model.Count == 4)
    {
        baseClass = "col-md-3";
    }
    else if (Model.Count == 3)
    {
        baseClass = "col-md-4";
    }
}

@foreach (var date in Model)
{
    <div class="@baseClass">
        <div class="well well-large">
            <h5 class="period">Du @date.BeginDate<br/>Au @date.EndDate</h5>
            @if (date.Reserved)
            {
                <span class="btn btn-default" disabled>Réservé</span>
            }
            else
            {
                <a href="/Reservation/CheckIn?year=@date.Year&dayOfYear=@date.DayOfYear" class="btn btn-success btn-right">Réserver (@(date.Price + date.Currency))</a>
            }
        </div>
    </div>
}
