@model List<Gite.WebSite.Models.Date>

@{
    string baseClass = "col-md-15";

    if (Model.Count == 4)
    {
        baseClass = "col-md-3";
    }
    else if (Model.Count == 3)
    {
        baseClass = "col-md-4";
    }
}

@foreach (var date in Model)
{
    var text = date.Price.HasDiscount ? "Dernière minute !" : "Réserver";
    <div class="col-sm-6 @baseClass">
        <div class="well well-large">
            <h5 class="period">Du @date.BeginDate.ToString("dd/MM/yyyy")<br />Au @date.EndDate.ToString("dd/MM/yyyy")</h5>
            @if (date.Reserved)
            {
                <span class="btn btn-default" disabled>Indisponible</span>
            }
            else
            {
                <a href="/Reservation/CheckIn/@date.Year@date.DayOfYear" class="btn btn-success btn-right">@text (@date.Price.Amount €)</a>
            }
        </div>
    </div>
}
