@model Gite.WebSite.Models.Admin.ReservationsOverview

@{
    Layout = "~/Views/Admin/Shared/_Layout.cshtml";
}

<div data-role="page" data-dom-cache="false">
    <div data-role="header" data-position="fixed">
        <a href="/admin" data-role="button" data-mini="true" data-transition="slide" data-direction="reverse">Retour</a>
        <a onClick="window.location.reload();" id="refresh" class="ui-btn ui-btn-right ui-corner-all ui-icon-refresh ui-btn-icon-notext">MàJ</a>
        <h1>Réservations</h1>
    </div>
    <ul data-role="listview" data-inset="true">
        @if (Model.PendingAdvance > 0 || Model.PendingPayment > 0)
        {
            <li data-role="list-divider">En attente de validation</li>
            if (Model.PendingAdvance > 0)
            {
                <li><a href="/reservations/pendingadvance" data-transition="slide">Acomptes à valider (@Model.PendingAdvance)</a></li>
            }
            if (Model.PendingPayment > 0)
            {
                <li><a href="/reservations/pendingpayment" data-transition="slide">Paiements à valider (@Model.PendingPayment)</a></li>
            }
            <li data-role="list-divider">Réservations</li>
        }
        <li><a href="/reservations/new" data-transition="slide">Nouvelles réservations (@Model.New)</a></li>
        <li><a href="/reservations/incoming" data-transition="slide">Prochainement (@Model.Incoming)</a></li>
        <li><a href="/reservations/all" data-transition="slide">Toutes les réservations</a></li>
        <li><a href="/reservations/insert" data-transition="slide">Insérer réservation</a></li>
    </ul>
</div>